
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
	    <div class="item active">
	      <%= image_tag "slide-01.jpg" %>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>Watch a demo</h1>
	          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <%= link_to('Sign Up', new_user_registration_path, :class => 'btn btn-large btn-primary')  %>
	        </div>
	      </div>
	    </div>
	    <div class="item">
				<%= image_tag "slide-02.jpg" %>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>See how it works.</h1>
	          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <%= link_to('Sign Up', info_path, :class => 'btn btn-large btn-primary')  %>
	        </div>
	      </div>
	    </div>
	    <div class="item">
	      <%= image_tag "slide-03.jpg" %>
	      <div class="container">
	        <div class="carousel-caption">
	          <h1>Start for free</h1>
	          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	          <%= link_to('Sign Up', new_user_registration_path, :class => 'btn btn-large btn-primary')  %>
	        </div>
	      </div>
	    </div>
		</div>
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
