<div id="hero-wrapper">
  <%= image_tag "hero.png", :id => 'hero-image' %>
    <div class="main-caption">
      <h1 class="main-caption-title">Stand Out.</h1>
      <h1 class="main-caption-title">Improve Results.</h1>
      <p class="lead">Get the attention of more candidates and clients to improve response rates.</p>
      <%= link_to('Watch a Demo', "http://fast.wistia.net/embed/iframe/vcgat5v7j5?autoPlay=true&controlsVisibleOnLoad=true&endVideoBehavior=reset&plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=email-twitter-linkedIn-googlePlus-facebook&plugin%5Bsocialbar-v1%5D%5BtweetText%5D=Check%20out%20this%20video%21&popover=true&version=v1&videoHeight=360&videoWidth=640&volumeControl=true", :class => 'btn btn-large btn-primary wistia-popover[height=388,width=640]')  %>
      <%= mail_to('alston@vcruit.net', 'Early Access', :cc => 'vcruitdev@gmail.com', :subject => 'I want early access to vCruit!', :class => 'btn btn-large btn-primary')  %>
    </div>
</div>

<section class="section1">
	<h2 class="section1-heading">What is vCruit?</h2>
	<p class="section1-tagline">vCruit is a web-based application that enables recruiters to quickly and easily utilize the power of online video in their outbound communications.</p>
  <p class="section1-tagline">It works like this:</p>
  <div class="section1-block">
    <h2 class="section1-numbering">1</h2>
    <p class="lead">Upload a video that showcases your message to the vCruit application.</p>
  </div>
  <div class="section1-block">
    <h2 class="section1-numbering">2</h2>
    <p class="lead">Display the video on a landing page designed and branded just for you.</p>
  </div>
  <div class="section1-block">
    <h2 class="section1-numbering">3</h2>
    <p class="lead">Embed the video into your emails, InMails, and social media posts.</p>
  </div>
  <div class="section1-block">
    <h2 class="section1-numbering">4</h2>
    <p class="lead">Track analytics to see who watches the video and for how long.</p>
  </div>
</section>

<section class="section2">
  <h2 class="section2-heading">Does this sound familiar?</h2>
  <div class="section2-block">
    <i class="icon-arrow-right"></i>
    <p class="lead" align="left">"I would like to have more passive candidates respond to my phone calls, emails, and InMails"</p>
  </div>
  <div class="section2-block">
    <i class="icon-arrow-right"></i>
    <p class="lead" align="left">"I would like to have more companies respond to my phone calls, emails, and InMails"</p>
  </div>
  <div class="section2-block">
    <i class="icon-arrow-right"></i>
    <p class="lead" align="left">"I would like my LinkedIn and other social media posts to reach a larger audience and generate more inbound leads"</p>
  </div>
  <div class="section2-block">
    <i class="icon-arrow-right"></i>
    <p class="lead" align="left">"Candidates and clients are busy and they get a lot of messages from recruiters. It's really hard to stand out and get their attention."</p>
  </div>
</section>

<section class="section3">
  <h2 class="section3-heading">Why vCruit and online video can improve results . . . </h2>
	
  <div class="section3-block">
    <h2>Video gets more people's attention</h2>
  	<p class="lead"><i class="icon-stop"></i>Click rates for email campaigns increased by more than 300% when the email included a video. ~ Wistia</p>
  </div>
  
	<div class="section3-block">
    <h2>Video keeps more people's attention</h2>
  	<p class="lead"><i class="icon-stop"></i>Buyers are 98% more likely to watch a presentation on video than to listen to a sales rep. ~ Forrester Research</p>
  </div>
  
	<div class="section3-block">
    <h2>Video boosts social media engagement</h2>
  	<p class="lead"><i class="icon-stop"></i>People are most likely to engage with branded content on social media that contains pictures (44%) and videos (37%). ~ Performics</p>
  </div>
  
	<div class="section3-block">
    <h2>Video helps to build familiarity</h2>
  	<p class="lead"><i class="icon-stop"></i>Seeing someone's eyes and hearing their voice goes a long way.</p>
  </div>
  
  <div class="section3-block">  
    <h2>Video saves you time and improves efficiency</h2>
  	<p class="lead"><i class="icon-stop"></i>Say it once for everyone to hear and quickly identify those who are interested.</p>
  </div>
</section>

<section class="section4">
  <h2 class="section4-heading">A few ways to use vCruit . . .</h2>
	<div class="section4-block">
    <%= image_tag "arrows.png", :class => "sec5-image" %>
		<p class="lead">Promote a job opportunity</p>
  </div>
	<div class="section4-block">
    <%= image_tag "paper.png", :class => "sec5-image" %>
		<p class="lead">Promote a candidate</p>
  </div>
	<div class="section4-block">
    <%= image_tag "horn.png", :class => "sec5-image" %>
		<p class="lead">Share a mass message</p>
  </div>
	<div class="section4-block">
    <%= image_tag "mail.png", :class => "sec5-image" %>
		<p class="lead">Send a personal message</p>
  </div>
</section>

<section class="section5">
			<h2 class="section5-heading" id="special-header-blue">Questions?</h2>
			<p class="lead">How can I make a video? Will vCruit help me? <%= link_to "See the answer here.",  :id => "special-header-orange", :action => "faq", :anchor => "Q1" %></p>
			<p class="lead">How is vCruit different from YouTube, my website, LinkedIn, Facebook, or Twitter? <%= link_to "See the answer here.", :id => "special-header-orange", :action => "faq", :anchor => "Q2" %></p>
</section>

<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>