
<%= render 'static_pages/sec2' %>

<%= render 'static_pages/sec3' %>

	
	
	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

	  <!-- Four columns of text below the carousel -->
	  <div class="section-4">
			<div class="row">
				<h2 class="featurette-heading" id="special-header-blue">Why vCruit and online video can help . . . </h2>
			</div>
		</div>
		<div class="row">
	    <div class="span12">
				<div class="section-4">
	      <h2 id="special-header-orange">Video gets more people's attention</h2>
				<p class="lead"><i class="icon-stop"></i>Online video delivers 10 times the response rate of static text and graphics. ~ double click</p>
				<p class="lead"><i class="icon-stop"></i>Click rates for email campaigns increased by more than 300% when the email included a video. ~ Wistia</p>
			</div>
		</div>
	    </div><!-- /.span3 -->
			<div class="row">
		    <div class="span12">
					<div class="section-4">
		      <h2 id="special-header-orange">Viewers are more likely to sit through your message in a video</h2>
					<p class="lead"><i class="icon-stop"></i>Buyers are 98% more likely to watch a presentation on video than to listen to a sales rep. ~ Forrester Research</p>
					<p class="lead"><i class="icon-stop"></i>85% of people choose to watch a video about a company online rather than read the rest of the website. ~ Forrester Research</p>
				</div>
			</div>
		    </div><!-- /.span3 -->
				<div class="row">
			    <div class="span12">
						<div class="section-4">
			      <h2 id="special-header-orange">Video boost social media engagement</h2>
						<p class="lead"><i class="icon-stop"></i>People are most likely to engage with branded content on social media that contains pictures (44%) and videos (37%). ~ Performics</p>
					</div>
				</div>
			    </div><!-- /.span3 -->
					<div class="row">
				    <div class="span12">
							<div class="section-4">
				      <h2 id="special-header-orange">Video helps to build familiarity</h2>
							<p class="lead"><i class="icon-stop"></i>Seeing someone's eyes and hearing their voice helps a lot.'</p>
						</div>
					</div>
				    </div><!-- /.span3 -->
	  </div><!-- /.row -->

	</div><!-- /.container -->
	
  <!-- START THE FEATURETTES -->
<div id="bg-color-grey">
	<div class="container marketing">
		<div class="section-5">
		<div class="row">
		  <div class="featurette">
		    <h2 class="featurette-heading" id="special-header-blue">Why vCruit and online video can help ...</h2>
		    <div class="row">
					<div class="span3">
			      <%= image_tag "arrows.png", :class => "sec5-image" %>
						<p class="lead">"Promote a job opportunity"</p>
			    </div><!-- /.span3 -->
					<div class="span3">
			      <%= image_tag "paper.png", :class => "sec5-image" %>
						<p class="lead">"Send an about me or about us introduction"</p>
			    </div><!-- /.span3 -->
					<div class="span3">
			      <%= image_tag "horn.png", :class => "sec5-image" %>
						<p class="lead">"Share a market update on social media"</p>
			    </div><!-- /.span3 -->
					<div class="span3">
			      <%= image_tag "mail.png", :class => "sec5-image" %>
						<p class="lead">"Send a personal message to a candidate or client"</p>
			    </div><!-- /.span3 -->
				
				</div>
				</div>
		  </div>
		</div>
	</div>
</div>

  <!-- /END THE FEATURETTES -->
	
	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

	  <!-- Four columns of text below the carousel -->
	  <div class="section-6">
			<div class="row">
				<h2 class="featurette-heading" id="special-header-blue">Questions?</h2>
				<p class="lead">How can I make a video? Will vCruit help me? <%= link_to "See the answer here." %></p>
				<p class="lead">How is vCruit different from YouTube, my website, LinkedIn, Facebook, or Twitter? <%= link_to "See the answer here." %></p>
			</div>
		</div>

	</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script>
  !function ($) {
    $(function(){
      // carousel demo
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>
<script src="../assets/js-holder/holder.js"></script>



