		<%= form_for(@profile) do |f| %>
		  <% if @profile.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
		      <ul>
		      <% @profile.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.label :company %>
		    <%= f.text_field :company, :class => "input-field", :placeholder=>"Enter your Company Name" %>
		  </div>
      <div class="field">
        <%= f.label :Please_upload_your_Company_Logo %>
        <%= f.file_field :logo %>
      </div>
      <div class="field">
		    <%= f.label :first_name %>
		    <%= f.text_field :first_name, :class => "input-field", :placeholder=>"Enter your First Name" %>
		  </div>
		  <div class="field">
		    <%= f.label :last_name %>
		    <%= f.text_field :last_name, :class => "input-field", :placeholder=>"Enter your Last Name" %>
		  </div>
		  <div class="field">
		    <%= f.label :phone %>
		    <%= f.text_field :phone, :class => "input-field", :placeholder=>"Enter 10 Digits XXXXXXXXXX" %>
		  </div>
		  <div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email, :class => "input-field", :placeholder=>"Enter your Email Address" %>
		  </div>
		  <div class="field">
		    <%= f.label :facebook %>
		    <%= f.text_field :facebook, :class => "input-field", :placeholder=>"Enter full link to your Facebook Page" %>
		  </div>
		  <div class="field">
		    <%= f.label :twitter %>
		    <%= f.text_field :twitter, :class => "input-field", :placeholder=>"Enter full link to your Twitter Page" %>
		  </div>
		  <div class="field">
		    <%= f.label :linkedin %>
		    <%= f.text_field :linkedin, :class => "input-field", :placeholder=>"Enter full link to your LinkedIn Page"  %>
		  </div>
		  <div class="actions">
		    <%= f.submit :class => "btn btn-primary"%>
		  </div>
		<% end %>
    
