<div class="breadcrumb-wrapper">

<% if current_user_profile.nil? %>
  <p id="notice"><%= notice %></p>
   <h3>Complete your profile by entering the below information.</h3>
   <p>Why do we need this info? So recipients of your video messages know how to contact you.</p>
<% else %>
  <p id="notice"><%= notice %></p>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><%= link_to "Video Page Hub",   video_pages_path %></li>
        <li><%= link_to 'My Profile', profile_path(current_user.profile) %></li>
        <li><%= link_to "Help Making Video?",   making_a_video_path %></li>
        <li><%= link_to "Help Using vCruit?",   help_path %></li>
      </ul>
    </div>
  </div>
<h2 class="welcome-message">Welcome, <%= current_user_profile.nil? ? current_user.email : current_user_profile.first_name %>!</h2>
 <% end %>
</div>
