<div class='row'>
	<div class="span8 offset1">	
		<p id="notice"><%= notice %></p>
		<p>
		  <strong>First name:</strong>
		  <%= @profile.first_name %>
		</p>
		<p>
		  <strong>Last name:</strong>
		  <%= @profile.last_name %>
		</p>
		<p>
		  <strong>Company:</strong>
		  <%= @profile.company %>
		</p>
		<p>
		  <%= image_tag @profile.logo.url(:small)%>
		</p>
		<p>
		  <strong>Email:</strong>
		  <%= @profile.email %>
		</p>
		<p>
		  <strong>Phone:</strong>
		  <%= @profile.phone %>
		</p>
		<p>
		  <strong>Facebook Id:</strong>
		  <%= @profile.facebook %>
		</p>
		<p>
		  <strong>Twitter:</strong>
		  <%= @profile.twitter %>
		</p>
		<p>
		  <strong>Linkedin:</strong>
		  <%= @profile.linkedin %>
		</p>
		<%= link_to 'Edit', edit_profile_path(@profile) %> |
		<%= link_to 'Back', profiles_path %>
	</div>
</div>