		<%= form_for(@video_page) do |f| %>
		  <% if @video_page.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@video_page.errors.count, "error") %> prohibited this video_page from being saved:</h2>
		      <ul>
		      <% @video_page.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

      <div class="field">
		    <%= f.label :Page_name %>
		    <%= f.text_field :name, :class => "input-field", :placeholder=>"This helps you manage your video page and will not appear publicly)" %>
      </div></br>
		  <div class="field">
		    <%= f.label :Enter_header_text_for_your_page_here %>
		    <%= f.text_field :video_title, :class => "input-field", :placeholder=>"e.g. a job title or the title of your post" %>
		  </div></br>
		  <div class="field">
		    <%= f.label :Enter_wistia_video_identification_number %>
		    <%= f.text_field :video_code, :class => "input-field", :placeholder=>"Enter the Wistia ID or click the Upload Media button below" %></br>
		  </div></br>
      <div class="field" id="wistia-upload-widget"></div></br>
      <script src="http://static.wistia.com/javascripts/upload_widget.js"></script>
      <script>
      var cb = {
        'uploadSuccess': function(jsonFile) {
          $('#video_page_video_code').val(jsonFile.hashed_id);
        },
      };
      var widget1 = new wistia.UploadWidget({ divId: 'wistia-upload-widget', publicProjectId: 'be88ta8052', callbacks: cb });
      </script>
      <div class="field">
		    <%= f.label :job_description_title %>
		    <%= f.text_field :job_description_title, :class => "input-field", :placeholder=>"Enter title for job description" %>
		  </div></br>
		  <div class="field">
		    <%= f.label :job_description %>
		    <%= f.text_area :job_description, class: 'wysihtml5 text-area', :placeholder=>"Enter job description (use buttons above to format text)"%>
		  </div>
		  <div class="actions">
		    <%= f.submit "Create Video page", :class=>'btn btn-primary', :target => "_blank"  %>
		  </div>
		<% end %>
    <script>
    $('#wistia-upload-widget').triggerevent(function(){
        $('#wistia-upload-widget').html(newContent);
    });
    </script>
    
    



<script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
</script>