		<%= form_for(@video_page) do |f| %>
		  <% if @video_page.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@video_page.errors.count, "error") %> prohibited this video_page from being saved:</h2>
		      <ul>
		      <% @video_page.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
      
      <fieldset>
        <legend>Name Your Page</legend>
        <div class="field">
          <p><strong>Page Name</strong> (helps you manage your pages, not seen publicly)</p>
  		    <%= f.text_field :name, :class => "input-field" %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Choose Your Video</legend></br>
          <div class="field" id="wistia-upload-widget">
            <script>
            var cb = {
              'uploadSuccess': function(jsonFile) {
                $('#video_page_video_code').val(jsonFile.hashed_id);
              },
            };
            var widget1 = new wistia.UploadWidget({ divId: 'wistia-upload-widget', publicProjectId: 'be88ta8052', callbacks: cb });
            </script>
          </div></br>
  		  <div class="field">
          <p><strong>Video ID</strong> (skip if you used the Upload Media button)</p>
  		    <%= f.text_field :video_code, :class => "input-field", :placeholder=>"This will populate automatically when you Upload Media" %>
  		  </div>
      </fieldset>
      <fieldset>
        <legend>Choose Your Thumbnail</legend>
        <div class="field">
          <p><strong>Thumbnail </strong>(the video image that will be pasted into your emails)</p>
  		    <%= f.file_field :thumbnail %>
  		  </div>
      </fieldset>
      
      <fieldset>
      <legend>Enter Your Text</legend>
		  <div class="field">
        <p><strong>Page Title</strong> (appears above your video)</p>
		    <%= f.text_field :video_title, :class => "input-field" %>
		  </div></br>
      <div class="field">
        <p><strong>Text Box Title</strong> (appears below your video)</p>
		    <%= f.text_field :job_description_title, :class => "input-field" %>
		  </div></br>
		  <div class="field">
		    <p><strong>Text Box</strong> (appears at bottom of the page)</p>
		    <%= f.text_area :job_description, class: 'wysihtml5 text-area', :placeholder=>"Enter text here and use buttons above to format text"%>
		  </div>
    </fieldset>
		  <div class="actions">
		    <%= f.submit "Create Video page", :class=>'btn btn-primary', :target => "_blank"  %>
		  </div>
		<% end %>


  
<script type="text/javascript">
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
</script>