<div class="outer-wrapper">
  <div class="inner-wrapper">
    <div class="menu-bar">
      <%= render 'profiles/links' %>
      <%= link_to 'Create new video page', new_video_page_path, :class => 'btn btn-primary menu-button' %>
    </div>
      <div class="video-hub">
      <h3 class="manage-video-title">Manage your existing pages</h3>
      
      <%= will_paginate @video_pages %>  
		  <table class="manage-videos table table-striped">
		    <% @video_pages.each do |video_page| %>
		      <tr>
		        <td width="120"><%= video_page.name %></td>
		        <td width="10"><%= link_to 'View', video_page, :target => "_blank" %></td>
		        <td width="10"><%= link_to 'Edit', edit_video_page_path(video_page) %></td>
		        <td width="10"><%= link_to 'Delete', video_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td width="40"><%= link_to 'Get Link', video_page %></td>
            <td width="80"><%= link_to 'Get Linked Image', video_page %></td>
            <td width="70"><%= link_to 'See Analytics', video_page %></td>
		      </tr>
		    <% end %>
		  </table>
      <%= will_paginate @video_pages %>
		
    </div>
  </div>
</div> 

		
