<div class="outer-wrapper">
  <div class="inner-wrapper">
    <div class="menu-bar">
      <%= render 'profiles/links' %>
      <%= link_to 'Create new video page', new_video_page_path, :class => 'btn btn-primary menu-button' %>
    </div>
    <div class="video-hub">
      <h3 class="manage-video-title">Manage your existing pages</h3>

      <%= will_paginate @video_pages %>
      <table class="manage-videos table table-striped">
        <% @video_pages.each do |video_page| %>
          <tr>
          <td><%= video_page.name %></td>
          <td><%= link_to 'Preview', video_page, :class => "btn btn-link" %></td>
          <td><%= link_to 'Edit', edit_video_page_path(video_page), :class => "btn btn-link" %></td>
          <td><%= link_to 'Delete', video_page, :class => "btn btn-link",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><a data-toggle="modal" data-id="<%= request.original_url + "/" + video_page.permalink %>" data-thumbnail-url="<%= video_page.thumbnail.url(:medium) %>" class="image_thumb btn btn-link" href="#addBookDialog">Get Link</a>
          </td>
          <td><%= mail_to('support@vcruit.net', 'Get Analytics', :cc => 'vcruitdev@gmail.com', :subject => "Get Analytics for #{login_name}: Video Page Id - #{video_page.permalink} / Video Id - #{video_page.video_code}.", :class => "btn btn-link") %></td>
        </tr>
      <% end %>
      </table>
      <%= will_paginate @video_pages %>
    </div>
  </div>
</div>

<div class="modal hide fade" id="addBookDialog">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Copy Links</h3>
  </div>
  <div class="modal-body">
    <p>Highlight and copy the URL Link, Linked Text or Linked Image and then paste it into your messages. Once clicked on, these links will launch your video landing page.</p>
    <hr>
    <h4>URL Link</h4>
    <p>Use a link for LinkedIn, Twitter, and Facebook messages because these apps disable linked text and images.</p>
    <input type="text" name="bookId" id="full-web-address" style="width: 400px;" readonly/></br>
    <hr>
    <!-- <img id="thumbnailUrl" src=""/> -->
    <h4>Linked Text</h4>
    <p>Use in email along with a linked image. Recommend pasting above or below image.</p>
    <a id="watch-video" href="">Watch Video</a></br>
    <hr>
    <h4>Linked Image</h4>
    <p>Use in email, but include linked text also in case recipient's email disables images.</p>
    <a id="embedded-url" href="">
      <img id="thumbnailUrl" src=""/>
    </a></br>
    
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" data-target="#myModal" class="btn">Close</a>
  </div>
</div>



<script>

$(document).on("click", ".image_thumb", function () {
  var page_url = $(this).data('id');
  $(".modal-body #full-web-address").val( page_url );
  $(".modal-body #embedded-url").attr("href", page_url);
  $(".modal-body #watch-video").attr("href", page_url);

  var thumbnail_url = $(this).data('thumbnail-url');
  $(".modal-body #thumbnailUrl").attr("src", thumbnail_url)

});
</script>
