<div class="outer-wrapper">
  <div class="inner-wrapper">
    <div class="menu-bar">
      <%= render 'profiles/links' %>
      <%= link_to 'Create new video page', new_video_page_path, :class => 'btn btn-primary menu-button' %>
    </div>
      <div class="video-hub">
      <h3 class="manage-video-title">Manage your existing pages</h3>
      
      <%= will_paginate @video_pages %>  
		  <table class="manage-videos table table-striped">
		    <% @video_pages.each do |video_page| %>
		      <tr>
		        <td><%= video_page.name %></td>
		        <td><%= link_to 'Preview', video_page, :target => "_blank" %></td>
		        <td><%= link_to 'Edit', edit_video_page_path(video_page) %></td>
		        <td><%= link_to 'Delete', video_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= request.original_url + "/" + video_page.permalink %></td>
            <td><%= mail_to('support@vcruit.net', 'Get Image Link', :cc => 'vcruitdev@gmail.com', :subject => "Get Image Link for #{login_name} on video page id: #{video_page.permalink}") %></td>
            <td><%= mail_to('support@vcruit.net', 'Get Analytics', :cc => 'vcruitdev@gmail.com', :subject => "Get Analytics for #{login_name} on video page id: #{video_page.permalink} ") %></td>
		      </tr>
		    <% end %>
		  </table>
      <%= will_paginate @video_pages %>
    </div>
  </div>
</div>
		
