<h1>Listing video_pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @video_pages.each do |video_page| %>
      <tr>
        <td><%= video_page.name %></td>
        <td><%= video_page.title %></td>
        <td><%= video_page.description %></td>
        <td><%= link_to 'Show', video_page %></td>
        <td><%= link_to 'Edit', edit_video_page_path(video_page) %></td>
        <td><%= link_to 'Destroy', video_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video page', new_video_page_path %>
