<div class="outer-wrapper">
  <div class="inner-wrapper">
    <div class="video-logo">
      <%= image_tag(@video_page.profile.logo.url(:small)) %>
    </div>
    <div class="video-title">
      <h1 class="title video-heading"><%= @video_page.video_title %></h1>
    </div>
  </div>
</div>     
  
<div class="outer-wrapper video-outer">
  <div class="inner-wrapper">
    <div class="video">
      <iframe src="http://fast.wistia.net/embed/iframe/<%= @video_page.video_code %> ?autoPlay=true&controlsVisibleOnLoad=true&plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=email-twitter-linkedIn-facebook&plugin%5Bsocialbar-v1%5D%5BtweetText%5D=Check%20out%20this%20video%21&version=v1&videoHeight=360&videoWidth=640&volumeControl=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="640" height="386">
      </iframe>
    </div>
    <div class="video-details-container">
      <h3 class="title">Contact</h3>
      <hr id="video-bar">
      <h3 class="title name-heading"><%= @video_page.profile.first_name %> <%= @video_page.profile.last_name %></h3>
  		<p class="title description">Phone: <%= number_to_phone(@video_page.profile.phone, area_code: true) %></p>
      <p class="title description">Email: <%= mail_to @video_page.profile.email %></p>
      <p>
      <%= link_to image_tag("f_logo.png", alt: "Visit us at Facebook", width:"20", height:"20"), "#{@video_page.profile.facebook}", :target => "_blank" %>
      <%= link_to image_tag("twitter.png", alt: "Follow us on Twitter", width:"20", height:"20"), "#{@video_page.profile.twitter}", :target => "_blank" %>
      <%= link_to image_tag("linkedin.png", alt: "Visit us at Linkedin", width:"20", height:"20"), "#{@video_page.profile.linkedin}", :target => "_blank" %>
      </p>
    </div>
  </div>
</div>

<div class="outer-wrapper">
  <div class="inner-wrapper">
    <section class="job-description">
      <h3 class="title job-description-title"><%= @video_page.job_description_title %></h3>
      <p><%=raw @video_page.job_description %></p>
    </section>
  </div>
</div> 
    
<div class="outer-wrapper footer-wrapper" id="sticky-footer">
  <div class="inner-wrapper">
    <footer class="links">
      <% if current_user_profile %>
        <%= submit_tag "Close", :onclick => "window.close()" %> </br>
        <%= link_to 'Powered by vCruit', root_path %>
      <% else %>
        <%= link_to 'Powered by vCruit', root_path %>
      <% end %>
    </footer>
    <script>
      $(document).ready(function() {
          var height_diff = $(window).height() - $('body').height();
          if ( height_diff > 0 ) {
              $('#sticky-footer').css( 'margin-top', height_diff );
          }
      });
    </script>
    
  </div>
</div> 
 