<div id="bg-color-grey">
	<div class="container marketing">
		<div class="section-7">
		<div class="row">
		  <%= image_tag "vcruit-logo-small.png" %>
      <ul class="footer-links">
        <!-- <li><%= link_to "How It Works",   info_path %></li>
        <li><%= link_to "Pricing",   pricing_path %></li> -->
        <!-- <li><%= link_to "FAQ",   faq_path %></li>
        <li><%= link_to "Contact",   contact_path %></li> -->
			</ul>
		  </div>
		</div>
	</div>
</div>